.form-container
  %h2.py-2 Sign up
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", |
      class: "form-field"                                           |
    = f.label :password
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password", |
      class: "form-field"                                       |
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password", |
      class: "form-field"                                                    |
    .actions
      = f.submit "Sign up", class: "btn btn-blue mt-4 w-full"
  = render "devise/shared/links"
