= javascript_pack_tag 'forms/edit_recipe'
- initial_props = {                             |
  availableIngredients: @available_ingredients, |
  ingredients: @ingredients,                    |
  recipe: @recipe                               |
}.to_json                                       |

= csrf_meta_tags

%div{id: "edit-recipe-form", data: initial_props}
