.container.pt-2.flex.flex-col.items-center
  .flex.flex-row.items-center.justify-between.w-full.my-4.px-4
    %h3.text-black-light Recipe
    = link_to "New Recipe +", new_recipe_path, class: "btn btn-link btn-blue text-white"
  %table.w-full
    %thead
      %tr.text-center
        %th Name
        %th Description
    %tbody
      - @recipes.each do |recipe|
        %tr.text-center.py-4
          %td= link_to recipe.name, recipe_path(recipe)
          %td= recipe.description
          %td= button_to "Edit", edit_recipe_path(recipe), |
               class: "btn btn-blue", method: :get         |
