= javascript_pack_tag 'forms/create_recipe'
- initial_props = {                           |
  availableIngredients: @available_ingredients |
}.to_json                                     |

= csrf_meta_tags

%div{id: "create-recipe-form", data: initial_props}