.container-md.flex.flex-col.card
  %h1
    = @recipe.name
  %h3.my-2.text-left
    = @recipe.description
  - @recipe.ingredient_recipes.each do |ingredient_recipe|
    - ingredient_recipe = IngredientRecipe.find(ingredient_recipe.id)
    %div
      %strong= "#{ingredient_recipe.ingredient_name}:"
      #{ingredient_recipe.quantity} #{ingredient_recipe.ingredient.unit}(s)
  %h3.my-2.text-left
    Estimated Price
    = number_to_currency(@recipe.estimated_price, precision: 2)

  %div.flex.flex-row.mt-6.items-center.my-2
    .visited:text-white.text-center.btn.btn-group-left.btn-blue.flex-1
      \#{button_to 'edit', edit_recipe_path(@recipe), method: :get, class: 'bg-blue text-white' }
    .visited:btn.btn-group-right.btn-red.flex-1
      \#{button_to "delete", @recipe, method: :delete, class: 'bg-red text-white' }
