.form-container
  %h2.py-2 Edit Ingredient
  = form_for(@ingredient, url: { action: "update" }) do |f|
    = f.label :name
    %br/
    = f.text_field :name, autofocus: true, placeholder: "Name", |
      required: true, class: "form-field"                       |
    = f.label :description
    = f.text_area :description, placeholder: "Description", |
      class: "form-field"                                   |
    = f.label :price
    %br/
    = f.number_field :price, placeholder: "Cost per unit", step: 0.01, |
      required: true, class: "form-field"                              |
    = f.label :unit
    %br/
    = f.text_field :unit, placeholder: "Unit of measurement", |
      required: true, class: "form-field"                     |
    .flex.justify-between.mt-4
      = submit_tag "Update", class: "btn-group-left btn-blue flex-1", |
        data: { disable_with: 'Updating...' }                         |
      = link_to 'Back', :back, class: 'btn-group-right btn-blue-rev text-center flex-1'
