.container.pt-2.flex.flex-col.items-center
  .flex.flex-row.items-center.justify-between.w-full.my-4.px-4
    %h3.text-black-light Ingredients
    = link_to "New Ingredient +", new_ingredient_path, class: "btn btn-blue btn-link text-white"
  %table.w-full
    %thead
      %tr.text-center
        %th Name
        %th Description
        %th Price
        %th Unit
    %tbody
      - @ingredients.each do |ingredient|
        %tr.text-center
          %td= link_to ingredient.name, ingredient_path(ingredient)
          %td= ingredient.description
          %td= number_to_currency(ingredient.price, precision: 2)
          %td= ingredient.unit
          %td= button_to 'Edit', edit_ingredient_path(ingredient), |
              class: "btn btn-blue", method: :get                 |
