.container-md.flex.flex-col.card
  %h1
    = @ingredient.name
    %h3.my-2
      = @ingredient.description
    %h3.my-2
      price: #{number_to_currency(@ingredient.price, precision: 2)} per #{@ingredient.unit}
      %div.flex.flex-row.mt-6.w-full.items-center
        .visited:text-white.text-center.btn.btn-group-left.btn-blue.flex-1
          \#{button_to 'edit', edit_ingredient_path(@ingredient), class: 'bg-blue text-white', method: :get}
        .visited:text-white.text-center.btn.btn-group-right.btn-red.flex-1
          \#{button_to "delete", @ingredient, method: :delete, class: 'bg-red text-white' }
