.form-container
  %h2.py-2 Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", |
      class: "form-field"                                           |
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "current-password", |
      class: "form-field"                                           |
    - if devise_mapping.rememberable?
      .my-2
        = f.check_box :remember_me
        = f.label :remember_me
    .actions
      = f.submit "Log in", class: "btn btn-blue w-full mt-2"
  = render "devise/shared/links"
