= form_for @mealplan do |f|
  - if @mealplan.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mealplan.errors.count, "error")} prohibited this mealplan from being saved:"
      %ul
        - @mealplan.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
