%h1 Mealplans

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @mealplans.each do |mealplan|
      %tr
        %td= link_to 'Show', mealplan
        %td= link_to 'Edit', edit_mealplan_path(mealplan), |
          class: 'btn btn-link btn-red text-white'
        %td= link_to 'Destroy', mealplan, method: :delete, |
          data: { confirm: 'Are you sure?' },              |
          class: 'btn btn-red text-white btn-link'

%br

= link_to 'New Mealplan', new_mealplan_path, class: 'btn btn-link btn-blue text-white'
