.container-md.bg-teal.py-4.px-2
  .flex.items-center.justify-between.flex-wrap
    %h3
      = link_to "Mealplanner", root_url, class: "brand-name"
    .flex.items-center.justify-end
      - if user_signed_in?
        = link_to "Ingredients", ingredients_path, class: "home-link pr-4"
        = link_to "Recipes", recipes_path, class: "home-link px-4"
        = link_to "Mealplans", mealplans_path, class: "home-link px-4"
        = link_to "Sign Out", destroy_user_session_path,         |
          class: "home-link font-normal px-4" |
      - else
        = link_to "Sign In", new_user_session_path, class: "home-link px-4"
