!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width,initial-scale=1.0", :name => "viewport"}/
    %title Mealplanner
    = stylesheet_pack_tag 'application'
    = javascript_pack_tag 'application'
  %body.text-base
    = csrf_meta_tag
    - if flash[:notice]
      .notice{"data-controller" => "notice"}= flash[:notice]
    - if flash[:alert]
      .alert{"data-controller" => "alert"}= flash[:alert]
    - if flash[:success]
      .success{"data-controller" => "notice"}= flash[:success]
    = render "layouts/navbar"
    .flex.flex-col.items-center
      = yield
